


.container {
    width: 70%;
    padding: 10px 25px;
    margin: 0px 10px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(128, 128, 128, 0.548);
}
.container li {
    margin: 10px;
}

.container button{
    width: 130px;
    height: 40px;
     background: linear-gradient(135deg, #0f3d3e, #1a4d2e, #10b981);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(21, 111, 122, 0.918);
  transition: all 0.3s ease;
   
}

.container button:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0px 6px 20px rgba(16, 185, 129, 0.8);
}

.container button:active {
  transform: scale(0.97);
  box-shadow: 0px 3px 12px rgba(21, 111, 122, 0.7);
}